<!DOCTYPE html>
<html>
    <head>
        <title>MVC Example</title>
    </head>
    <body>
        <h1>Welcome to the MVC Example</h1>
        <p>Here you can choose what you want to do next:</p>
        <ul>
            <li><a href="/list">List all users</a></li>
        </ul>
        <footer>
            <small id="today"></small>
        </footer>
        <script>
            var date = new Date();
            var year = date.getFullYear();
            document.getElementById("today").innerHTML = "&copy; FRA-UAS MVC Example, "+year;
        </script> 
    </body>
</html>